.navigation {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navigation li {
  margin-right: 10px;
}

.navigation li button {
  background-color: #f0f0f0; /* Set default button color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.navigation li button:hover {
  background-color: #d3d3d3; /* Set hover button color */
}
  